{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Seller Login{% endblock %}
{% block body %}
<center><br><br><br><br><br><br>
     <h2><font color="#366092">Seller Login</font></h2>
        <img src="{% static 'myapp/images/person.png'%}" width="150" height="150">
    <div class="container">
        <form role="form" name="frm" action="{% url 'seller_login' %}"  method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="uname">User Name</label>
                <input class="form-control" type="text" id="uname" name="uname">
            </div>
             <div class="form-group">
                 <label for="uname">Password</label>
                 <input class="form-control" type="password" id="passwd" name="passwd">
             </div>
            <button type="submit" class="btn btn-info" id="bt" name="bt">Login</button>
            <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>

            <br/><br>
       <a class="btn btn-primary" href="{% url 'seller_details_add' %}">New Seller</a>
        </form>
    {{msg}}
    </div>
</center><br><br><br><br>
<style>
    input[type=text]{
    width:50%;
    }
    input[type=password]{
    width:50%;
    }
</style>
{% endblock %}